nodered/flow.json
[{"id":"fd5b8f88.03933","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4384ba52.be40c4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d1c3ff3c.2b4fa","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#5e6668","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#27393a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#27393a","edited":true},"page-titlebar-backgroundColor":{"value":"#27393a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#466668","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#27393a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4e627db.24fc884","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"dca930d3.4e6cb","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"","tz":"","charset":"UTF8"},{"id":"2a9586b7.80ffca","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"29e8c429.3c513c","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"53fb5e8a.1ecd1","type":"ui_group","name":"Default","tab":"4384ba52.be40c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9e9c370.25b77","type":"ui_group","name":"Default2","tab":"4384ba52.be40c4","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e7fd937.3d9c08","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"59163543.39a46c","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"377db94b.258be6","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ffa0a6b1.5a9958","type":"inject","z":"fd5b8f88.03933","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["77ebba68.db5134"]]},{"id":"77ebba68.db5134","type":"http request","z":"fd5b8f88.03933","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?lat=35&lon=139&appid=ae10626011dbb050cfebc1ffa52f7829","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":260,"wires":[["2fdbe2c3.aee6ae"]]},{"id":"2fdbe2c3.aee6ae","type":"json","z":"fd5b8f88.03933","name":"","property":"payload","action":"","pretty":false,"x":420,"y":260,"wires":[["379c8c06.3c3ab4","8944cf21.51a05","dde611f8.462c","d1803a06.9916e8","22c12ad0.d25f86","eb2e7415.d51758","61e0c9f3.655a28"]]},{"id":"379c8c06.3c3ab4","type":"change","z":"fd5b8f88.03933","name":"reqTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":100,"wires":[["875ad5c8.dad768"]]},{"id":"19300756.0fdc89","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"53fb5e8a.1ecd1","order":0,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":160,"wires":[]},{"id":"875ad5c8.dad768","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"e9e9c370.25b77","order":0,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":100,"wires":[]},{"id":"818a0635.06da98","type":"ui_button","z":"fd5b8f88.03933","name":"","group":"e9e9c370.25b77","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":320,"wires":[["77ebba68.db5134"]]},{"id":"8944cf21.51a05","type":"debug","z":"fd5b8f88.03933","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":340,"wires":[]},{"id":"22c12ad0.d25f86","type":"change","z":"fd5b8f88.03933","name":"reqTempMin","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":160,"wires":[["19300756.0fdc89"]]},{"id":"d1803a06.9916e8","type":"change","z":"fd5b8f88.03933","name":"reqTempMax","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["c5a0d3fa.3d7aa"]]},{"id":"dde611f8.462c","type":"change","z":"fd5b8f88.03933","name":"reqHumidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[["bef7a33c.616f"]]},{"id":"c5a0d3fa.3d7aa","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"53fb5e8a.1ecd1","order":0,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"bef7a33c.616f","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"53fb5e8a.1ecd1","order":0,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":280,"wires":[]},{"id":"eb2e7415.d51758","type":"change","z":"fd5b8f88.03933","name":"reqdescription","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather.0.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[["fab2a5a.f73e458"]]},{"id":"fab2a5a.f73e458","type":"ui_text","z":"fd5b8f88.03933","group":"53fb5e8a.1ecd1","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":340,"wires":[]},{"id":"61e0c9f3.655a28","type":"change","z":"fd5b8f88.03933","name":"reqMain","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather.0.main","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["3a6dc57e.55cc5a"]]},{"id":"3a6dc57e.55cc5a","type":"ui_text","z":"fd5b8f88.03933","group":"53fb5e8a.1ecd1","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":400,"wires":[]},{"id":"32222a5f.cf8626","type":"serial in","z":"fd5b8f88.03933","d":true,"name":"arduino1","serial":"8e7fd937.3d9c08","x":80,"y":660,"wires":[["3faddd47.ec5ba2"]]},{"id":"ae19bde9.b1f4e","type":"debug","z":"fd5b8f88.03933","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":560,"wires":[]},{"id":"3faddd47.ec5ba2","type":"json","z":"fd5b8f88.03933","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":660,"wires":[["c4e70eaa.e1669","3241e3d9.42a12c","c0b653f5.3d118","3923287d.fcb898","6bdf63b3.0f4a3c","ae19bde9.b1f4e"]]},{"id":"c4e70eaa.e1669","type":"change","z":"fd5b8f88.03933","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":640,"wires":[["1a9cf3c4.921e7c"]]},{"id":"1a9cf3c4.921e7c","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"53fb5e8a.1ecd1","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":640,"wires":[]},{"id":"3241e3d9.42a12c","type":"change","z":"fd5b8f88.03933","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sUmi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":700,"wires":[["a632b4d7.d0d9f8"]]},{"id":"8d6d7034.5d5b8","type":"comment","z":"fd5b8f88.03933","name":"vem do arduino","info":"  //formato de escrita do json\n  json[\"sTemp\"] = temp;\n  json[\"sUmi\"] = umi;\n  json[\"sensor1\"] = umidade1;\n  json[\"sensor2\"] = umidade2;\n  json[\"sensor3\"] = umidade3;","x":100,"y":560,"wires":[]},{"id":"7892e534.19599c","type":"inject","z":"fd5b8f88.03933","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sTemp\":12.25,\"sUmi\":60.5,\"sensor1\":80.5,\"sensor2\":60.25,\"sensor3\":90.8}","payloadType":"json","x":190,"y":740,"wires":[["3faddd47.ec5ba2"]]},{"id":"a632b4d7.d0d9f8","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"53fb5e8a.1ecd1","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":700,"wires":[]},{"id":"c0b653f5.3d118","type":"change","z":"fd5b8f88.03933","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":760,"wires":[["904fafee.06a7c"]]},{"id":"904fafee.06a7c","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"53fb5e8a.1ecd1","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":760,"wires":[]},{"id":"3923287d.fcb898","type":"change","z":"fd5b8f88.03933","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":820,"wires":[["8bc1864a.9d6028"]]},{"id":"8bc1864a.9d6028","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"53fb5e8a.1ecd1","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":820,"wires":[]},{"id":"6bdf63b3.0f4a3c","type":"change","z":"fd5b8f88.03933","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":880,"wires":[["c09573b1.df739"]]},{"id":"c09573b1.df739","type":"ui_gauge","z":"fd5b8f88.03933","name":"","group":"53fb5e8a.1ecd1","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":880,"wires":[]},{"id":"7ff2d8ff.e7db78","type":"comment","z":"fd5b8f88.03933","name":"vai para o arduino","info":"json[\"bomba1\"]\njson[\"bomba2\"]\njson[\"bomba3\"]\njson[\"led\"]","x":1190,"y":760,"wires":[]},{"id":"5a67bfed.b198b","type":"ui_switch","z":"fd5b8f88.03933","name":"","label":"bomba2","tooltip":"","group":"53fb5e8a.1ecd1","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":820,"y":680,"wires":[["9375e2ee.af684","c8fd2dcc.4ca75"]]},{"id":"370029ba.420a96","type":"ui_switch","z":"fd5b8f88.03933","name":"","label":"bomba1","tooltip":"","group":"53fb5e8a.1ecd1","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":820,"y":620,"wires":[["da31388c.2771e8","c8fd2dcc.4ca75"]]},{"id":"a3e85d5b.49025","type":"ui_switch","z":"fd5b8f88.03933","name":"","label":"bomba3","tooltip":"","group":"53fb5e8a.1ecd1","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":820,"y":740,"wires":[["7af5a8b5.c11648","c8fd2dcc.4ca75"]]},{"id":"eff02af6.403868","type":"ui_switch","z":"fd5b8f88.03933","name":"","label":"led","tooltip":"","group":"53fb5e8a.1ecd1","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":810,"y":800,"wires":[["efc7800c.9fb59","c8fd2dcc.4ca75"]]},{"id":"da31388c.2771e8","type":"function","z":"fd5b8f88.03933","name":"","func":"global.set(\"bomba1\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":620,"wires":[[]]},{"id":"9375e2ee.af684","type":"function","z":"fd5b8f88.03933","name":"","func":"global.set(\"bomba2\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":680,"wires":[[]]},{"id":"7af5a8b5.c11648","type":"function","z":"fd5b8f88.03933","name":"","func":"global.set(\"bomba3\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":740,"wires":[[]]},{"id":"efc7800c.9fb59","type":"function","z":"fd5b8f88.03933","name":"","func":"global.set(\"led\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":800,"wires":[[]]},{"id":"c8fd2dcc.4ca75","type":"function","z":"fd5b8f88.03933","name":"","func":"var b1=global.get(\"bomba1\");\nvar b2=global.get(\"bomba2\");\nvar b3=global.get(\"bomba3\");\nvar led=global.get(\"led\");\n\nmsg.payload = {\n\"bomba1\": b1,\n\"bomba2\": b2,\n\"bomba3\": b3,\n\"led\": led\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":860,"wires":[["e8a4d7c7.ed2258","9bb99a4e.74cfc8"]]},{"id":"e8a4d7c7.ed2258","type":"debug","z":"fd5b8f88.03933","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":860,"wires":[]},{"id":"9bb99a4e.74cfc8","type":"serial out","z":"fd5b8f88.03933","d":true,"name":"","serial":"377db94b.258be6","x":1180,"y":920,"wires":[]},{"id":"51940abf.356324","type":"comment","z":"fd5b8f88.03933","name":"clima tempo","info":"","x":230,"y":180,"wires":[]}]
